<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
      <customErrors defaultRedirect="GenericError.htm" mode="Off" xdt:Transform="Replace">
      </customErrors>
    <authentication mode="None" />
    <authorization xdt:Transform="Insert">
      <allow roles="allocatorshare" />
      <deny users="*" />
    </authorization>
  </system.web>

  <system.webServer>
    <modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" preCondition="managedHandler" xdt:Transform="Insert"/>
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" preCondition="managedHandler" xdt:Transform="Insert" />
      <add name="AnAModule" type="MK6.Kroger.Common.Identity.AnAModule, MK6.Kroger.Common.Identity" xdt:Transform="Insert" />
    </modules>
  </system.webServer>

  <system.identityModel xdt:Transform="Insert">
    <identityConfiguration>
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <audienceUris>
        <add value="https://allocatorshare.dev.m6demandview.com/" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="https://fed.dev.m6demandview.com/adfs/services/trust">
          <keys>
            <add thumbprint="315F44DB8ADC6CD205060BE00ACAEF9AA4C439F0" />
          </keys>
          <validIssuers>
            <add name="https://fed.dev.m6demandview.com/adfs/services/trust" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services xdt:Transform="Insert">
    <federationConfiguration>
      <cookieHandler domain=".dev.m6demandview.com" requireSsl="false"/>
      <wsFederation passiveRedirectEnabled="true" issuer="https://fed.dev.m6demandview.com/adfs/ls/" realm="https://allocatorshare.dev.m6demandview.com/" requireHttps="false" />
    </federationConfiguration>
  </system.identityModel.services>

</configuration>
