<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
      <customErrors defaultRedirect="GenericError.htm" mode="Off" xdt:Transform="Replace">
      </customErrors>
    <authentication mode="None" />
    <authorization xdt:Transform="Insert">
      <allow roles="allocatorshare" />
      <deny users="*" />
    </authorization>
  </system.web>

  <system.webServer>
    <modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" preCondition="managedHandler" xdt:Transform="Insert"/>
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" preCondition="managedHandler" xdt:Transform="Insert" />
      <add name="AnAModule" type="MK6.Kroger.Common.Identity.AnAModule, MK6.Kroger.Common.Identity" xdt:Transform="Insert" />
    </modules>
  </system.webServer>

  <system.identityModel xdt:Transform="Replace">
    <identityConfiguration>
      <audienceUris>
        <add value="http://allocatorshare.dev.m6demandview.com/" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="https://idsrv.dev.m6demandview.com/issue/wsfed">
          <keys>
            <add thumbprint="132240095E2BD42F2742427FF98A415BABDC6910" />
          </keys>
          <validIssuers>
            <add name="https://idsrv.dev.m6demandview.com/issue/wsfed" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <wsFederation passiveRedirectEnabled="true" issuer="https://idsrv.dev.m6demandview.com/issue/wsfed" realm="http://allocatorshare.dev.m6demandview.com/" requireHttps="false" xdt:Transform="Replace" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>
