<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors defaultRedirect="GenericError.htm" mode="Off" xdt:Transform="Replace">
    </customErrors>
  </system.web>

  <system.identityModel>
    <identityConfiguration>
      <securityTokenHandlers xdt:Transform="Insert">
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <audienceUris xdt:Transform="Replace">
        <add value="https://allocatorshare.dev.m6demandview.com/" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry" xdt:Transform="Replace">
        <authority name="https://fed.dev.m6demandview.com/adfs/services/trust">
          <keys>
            <add thumbprint="315F44DB8ADC6CD205060BE00ACAEF9AA4C439F0" />
          </keys>
          <validIssuers>
            <add name="https://fed.dev.m6demandview.com/adfs/services/trust" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>

  <system.identityModel.services>
    <federationConfiguration xdt:Transform="Replace">
      <cookieHandler domain=".dev.m6demandview.com" requireSsl="false"/>
      <wsFederation passiveRedirectEnabled="true" issuer="https://fed.dev.m6demandview.com/adfs/ls/" realm="https://allocatorshare.dev.m6demandview.com/" requireHttps="false" />
    </federationConfiguration>
  </system.identityModel.services>

  <system.webServer>
    <applicationInitialization skipManagedModules="true" xdt:Transform="Insert">
      <add initializationPage="/" />
    </applicationInitialization>
  </system.webServer>  
</configuration>