@{
    ViewBag.Title = "Error";
}

<hgroup class="title error-heading">
    <h2 class="error">An unexpected error has occurred.</h2>
</hgroup>
<div class="error-return-modal">
    <a href="@Url.Action("Index", "Home")" class="return-link">Return to the home page</a>
</div>
